/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.textfield {
	-fx-border: 1px;
	-fx-border-radius: 3px;
	-fx-border-color: "#ff5050";
}

.textfield.valid {
	-fx-background-color: "#ffffff";
	-fx-foreground-color: "#000000";
	-fx-border-color: "#80ffaa";
}